.spin-player {
    animation: spin 1s infinite linear;
}

#playerView {
    padding-bottom: env(safe-area-inset-bottom);
}

@keyframes spin-player {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}